<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>Followed Teams</ion-list-header>
    <button icon-left ion-item *ngFor="let fav of favorites" (click)="favoriteTapped($event, fav)">
      <ion-icon name="star"></ion-icon>
      {{fav.team.name}}
      <p>{{fav.tournamentName}}</p>
    </button>

  </ion-list>

  <div padding>
    <p>To follow more teams, select a tournament,
      then you can follow teams from their team page.</p>

    <button ion-button (click)="goToTournaments()">Find a Tornament</button>
  </div>
</ion-content>
